/* ----- Admin Page Styles ------*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab span {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab span:hover, .tab .selected {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab span.active {
  background-color: #ccc;
}