h1{
    padding-bottom: 7px !important;
}

.nav-tab {
    cursor: pointer !important;
}

h2 {
    margin-block-end: 4px !important;
}

h3 {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

h4 {
    margin-block-start: 10px !important;
    margin-block-end: 2px !important;
    font-size: medium;
}

.bnomics-default-cursor {
    cursor: default !important;
}

.wp-core-ui .notice.is-dismissible {
    display: none;
}


.blockonomics-narrow-th {
    width: 90px !important;
}

.form-table td p {
    margin-top: 0px !important;
}

.bnomics-width {
    max-width: 550px !important;
}

.form-table th {
    padding: 5px 10px 5px 0;
}

.bnomics-options-input {
    max-width: 100%; 
    text-overflow: ellipsis;
}

.bnomics-options-callback-icon {
    font:400 24px/1 dashicons;
    margin-left: 3px;
    top: 6px;
    position:relative;
    text-decoration: none;
}

.bnomics-options-bold {
    font-weight:bold;
}

.bnomics-options-button {
    font-size: 15px !important;
}

.bnomics-options-intendation-heading {
    margin-left:40px; 
    padding: 0px 0px !important;
}


.bnomics-options-green-check-mark {
    font:1000 25px/1 dashicons; 
    top:0px; 
    color:green;
}

.bnomics-options-no-padding {
    padding: 0px 0px !important;
}

.bnomics-options-no-margin {
    margin: 0px 0px !important;
}


.bnomics-options-red-cross-mark {
    font:1000 25px/1 dashicons; 
    top:0px; 
    color:red
}


.bnomics-options-small-intendation {
    margin-left:12px !important;
}

.bnomics-options-medium-intendation {
    margin-left:40px;
}

.bnomics-options-small-margin-top {
    margin-top:10px;
}

/* Mobile */
@media screen and (max-width: 500px) {
    .bnomics-options-medium-intendation {
        margin-left: 0px !important;
    }
  
    .bnomics-options-small-intendation {
        margin-left: 0px !important;
    }

    .bnomics-options-intendation-heading {
        margin-left: 0px !important;
    }
    .form-table {
        width: 100% !important;
    }

  }

