/* ----- Order Page Styles ------*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes background {
  0% {
    background-color: #27ae60;
  }
  50% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #c0392b;
  }
}

.bnomics-order-container {
  margin: 15vh auto;
  padding: 10px;
}

.bnomics-order-container h4 {
  padding: 3px 0 3px 0 !important;
  font-weight: 600;
}

.bnomics-order-container h5 {
  margin: 15px 0;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: unset;
}

.bnomics-progress-bar-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-left:5%;
  height: 4px;
  background: #ddd;
}

.bnomics-progress-bar-container .bnomics-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #B9B9B9;
}

.bnomics-order-info {
  display: flex;
}

.bnomics-order-info > div {
  padding-top: 5px;
  padding-bottom: 0;
}

.bnomics-order-info .bnomics-bitcoin-pane {
  flex: 2;
}

.bnomics-bitcoin-pane .bnomics-btc-info {
  display: flex;
  text-align: center;
}

.bnomics-btc-info .bnomics-qr-code {
  flex: 1;
}

.bnomics-btc-info .bnomics-amount {
  flex: 2;
}

.bnomics-altcoin-pane {
  align-items: center;
  flex: 1;
  text-align: center;
}

.bnomics-address {
  position:relative;
  margin:auto !important;
  width: 90% !important;
}

.bnomics-address input , .bnomics-address select {
  font-weight: 600 !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  width: 90% !important;
  border: 1px solid #DDD; !important;
  background-color: #fff !important;
  box-shadow: none !important;
  text-align: center;
  padding:7px !important;
  display:inline !important;
}

.bnomics-spinner {
  margin: auto;
  width: 60px;
  height: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

.altcoin-td {
  width: 35%;
  border-left: 2px ridge;
}

.bnomics-powered-by {
  text-align: center;
  margin-top: 1.6em;
  font-size: 0.8em;
  padding: 0;
}

.bnomics-qr-code-hint {
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 1em;
  font-size: 0.8em;
  padding: 0 20px;
}

.bnomics-order-number {
  text-transform: uppercase;
}

.bnomics-amount-seperator{
  width:10%;
  margin:0;
  margin-left:45%
}

.bnomics-time-left {
  line-height: 3;
  font-size: 12px;
}

.bnomics-payment-option {
  text-align:center;
}

.bnomics-order-id {
  text-align:right;
}

.bnomics-bg {
  min-height: 180px;
  background-color:#f3f3f3;
  padding-top: 5px;
}

.bnomics-qr {
  text-align: center !important;
  background-color:#f3f3f3;
  padding: 10px 10px 5px 10px;
  width:180px;
  margin: 0 auto;
  text-align: left;
}

.bnomics-paywith-btc {
  border-radius: 10px 0px 0px 10px;
}

.bnomics-paywith-altcoin {
  border-radius: 0px 10px 10px 0px;
}

.bnomics-paywith-option {
  color:#B9B9B9;
  background-color:#F3F3F3;
  border: 1px solid #B9B9B9;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.bnomics-paywith-selected {
  color:#fff;
  background-color:#B9B9B9;
}

.bnomics-symbol-selected {
  color:#fff;
  background-color:#B9B9B9;
  border: 0px solid #B9B9B9;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.bnomics-paywith-label {
  font-size:1.25em;
}

.bnomics-copy-icon {
    width: 24px !important;
    height: 24px !important;
    position: absolute;
    bottom: 35%;
    padding-left: 3px;
    cursor: pointer;
}

.bnomics-altcoin-bg {
  min-height: 180px;
  background-color:#f3f3f3;
  padding: 15px 15%;
}

.bnomics-copy-text{
    padding-bottom: 15px !important;
}

/* ---- Mobile -----*/
@media screen and (max-width: 800px) {
  .bnomics-btc-info {
    display: block !important;
  }

  .bnomics-order-container {
    text-align: center;
  }

  .bnomics-order-container h5 {
    margin: 10px 0;
  }

  .bnomics-altcoin-pane {
    display: block;
  }

  .bnomics-order-info {
    display: block;
  }
  .bnomics-copy-icon {
    display:none;
  }
}